@model EvalCore.Models.Direcciones

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Direcciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirCentroCosto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirCentroCosto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirUsuarioAud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirUsuarioAud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirFechaAud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirFechaAud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirActivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DirId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
