@model IEnumerable<EvalCore.Models.Direcciones>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DirNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirDescripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirCentroCosto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirUsuarioAud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirFechaAud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirActivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DirNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirCentroCosto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirUsuarioAud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirFechaAud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirActivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DirId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DirId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DirId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
